/* level1 
    flex-direction: row-reverse;
level2
    justify-content:center;
level3
    justify-content:space-around;
level4
    justify-content:space-between;
level5
    align-items:flex-end;
level6
    justify-content:center;
    align-items:center;
level7
    justify-content: space-around;
    align-items:flex-end;
level8
    flex-direction:row-reverse;
level9
    flex-direction:column;
level10
    flex-direction:row-reverse;
    justify-content:flex-end;
level11
    flex-direction:column;
    justify-content:flex-end;
level12
    flex-direction:column-reverse;
    justify-content:space-between;
level13
    flex-direction:row-reverse;
    justify-content:center;
    align-items:flex-end;
*/
